<section id="nosotros" class="bg-light">
  <div class="container">
    
    <h2 class="text-center mb-4 animate-on-scroll">
      Sobre Nosotros
    </h2>
 <hr />
    <div class="row justify-content-center">
      <div class="col-lg-8">
        
        <p class="lead text-center mb-4 animate-on-scroll" data-animation-delay="100">
          Somos TyT ElectroSoluciones, una empresa con amplia experiencia principalmente en el sector eléctrico, 
          dedicada a ofrecer soluciones integrales, 
          seguras para la industria, la vivienda y proyectos de gran envergadura.
        </p>
        
        <p class="text-center animate-on-scroll" data-animation-delay="200">
          Nuestra especialidad abarca desde complejas instalaciones electricas
           en el hambito domiciliario e industrial. Empalmes trifacicos y domiciliaros como TE1, TE4 para energias renovables. 
          Garantizando la eficacia energética y la 
          seguridad para las personas. Contamos con trabajadores certificados SEC.
        </p>
      </div>
    </div>
  </div>
</section>